/* ==============================
   CONFIGURACIÓN GENERAL
   ============================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: white;
}


/* ==============================
   ESCENAS
   ============================== */

section {
    min-height: 100vh;
    position: relative;
}


/* ==============================
   PRIMERA ESCENA
   ============================== */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.75)
        ),
        #222;
}

.hero-content {
    width: min(1100px, 90%);
    text-align: center;
}

.eyebrow {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 25px;
}

.hero h1 {
    font-size: clamp(48px, 8vw, 110px);
    line-height: 0.95;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.description {
    max-width: 600px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 1.6;
    color: #ccc;
}


/* ==============================
   INDICADOR DE SCROLL
   ============================== */

.scroll-indicator {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    font-size: 12px;
    letter-spacing: 3px;
}

.arrow {
    font-size: 30px;
}


/* ==============================
   SEGUNDA ESCENA
   ============================== */

.product-section {
    display: flex;
    align-items: center;

    background: #181818;
}

.product-content {
    width: min(1100px, 90%);
    margin: auto;
}

.product-section h2 {
    font-size: clamp(42px, 6vw, 80px);
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-section p:last-child {
    max-width: 550px;

    font-size: 18px;
    line-height: 1.7;

    color: #bbb;
}


/* ==============================
   MÓVILES
   ============================== */

@media (max-width: 768px) {

    .hero h1 {
        font-size: 48px;
    }

    .description {
        font-size: 16px;
    }

    .product-section h2 {
        font-size: 42px;
    }

}
